<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>员工管理</title>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container page-header">
	<h1>员工列表</h1>
</div>

<div class="container page-body">
	<div class="row">
		<div class="col-md-12 ">
			<table class="table table-hover">
				<thead>
					<tr>
						<th style="font-size: x-large;text-">#</th>
						<th style="font-size: x-large;">姓名</th>
						<th style="font-size: x-large;">手机号</th>
						<th style="font-size: x-large;">最后登录时间</th>
						<th style="font-size: x-large;">修改</th>
					</tr>
				</thead>

				<tbody>
				{% for staff in allStaff%}
				<tr style="height: 5em;">
					<td style="height: 5em;"><img class="img-responsive img-circle" src="/media/{{staff.img}}"" style="height: 5em;" ></td>
					<td style="font-size: x-large;">{{staff.name}}</td>
					<td style="font-size: x-large;">{{staff.tel}}</td>
					<td style="font-size: x-large;">{{staff.last_login}}</td>
					<td style="font-size: x-large;"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#Modal{{staff.name}}" >—</button></td>
				</tr>
				{%endfor%}
				</tbody>
			</table>
		</div>
		<div class="col-md-12 ">
		<button class="btn btn-primary btn-lg"type="button"  data-toggle="modal" data-target="#Modaladd">添加员工</button>
		</div>
	</div><!--row-->

	<div class="modal fade" id="Modaladd" tabindex="-1" role="dialog" >
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" >添加员工</h4>
	    	</div>
	      	<div class="modal-body">
	      		<form id="add_form" action="#" method='post' class="form-horizontal" enctype="multipart/form-data">
	      			{% csrf_token %}
				  	<div class="form-group">
				   		<label for="inputName" class="col-sm-2 control-label">姓名</label>
				   		<div class="col-sm-10">
				      		<input type="text" class="form-control" name="Name" id="NewName" >
				    	</div>
				  	</div>
				  	<div class="form-group">
				   		<label for="inputTel" class="col-sm-2 control-label">手机</label>
				   		<div class="col-sm-10">
				      		<input type="text" class="form-control" name="Telephone" id="inputTel" >
				    	</div>
				  	</div>
				  	<div class="form-group">
				  		<label for="inputPhoto" class="col-sm-2 control-label">照片</label>
				    	<div class="col-sm-10">
				    	<input type="file" class="form-control" name="Photo" id="inputPhoto" >
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<div class="col-sm-offset-2 col-sm-10">
				    		<button type="button" class="btn btn-default" onclick="add_staff()">提交</button>
				    	</div>
				 	</div>
				</form>
	      	</div>
	      	<div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	      	</div>
	    </div>
	  </div>
	</div>


	{%for staff in allStaff%}
		<div class="modal fade" id="Modal{{staff.name}}" tabindex="-1" role="dialog" >
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      	<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" >修改{{staff.name}}的信息</h4>
		    	</div>
		      	<div class="modal-body">
		      		<form action="#" method='post' class="form-horizontal" enctype="multipart/form-data">
		      			{% csrf_token %}
					  	<div class="form-group">
					   		<label for="inputName" class="col-sm-2 control-label">姓名</label>
					   		<div class="col-sm-10">
					      		<input type="text" class="form-control" name="Name" id="inputName" value="{{staff.name}}" readonly>
					    	</div>
					  	</div>

					  	<div class="form-group">
					   		<label for="inputTel" class="col-sm-2 control-label">手机</label>
					   		<div class="col-sm-10">
					      		<input type="text" class="form-control" name="Telephone" id="inputTel" placeholder="{{staff.tel}}" >
					    	</div>
					  	</div>

					  	<div class="form-group">
					  		<label for="inputPhoto" class="col-sm-2 control-label">照片</label>
					    	<div class="col-sm-10">
					      	<input type="file" class="form-control" name="Photo" id="inputPhoto" >
					    	</div>
					  	</div>
					  	 <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <div class="checkbox">
						        <label>
						          <input type="checkbox" name="delete" value="on">删除
						        </label>
						      </div>
						    </div>
						  </div>
					  	<div class="form-group">
					    	<div class="col-sm-offset-2 col-sm-10">
					    		<button type="submit" class="btn btn-default">提交</button>
					    	</div>
					 	</div>
					</form>
		      	</div>
		      	<div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		      	</div>
		    </div>
		  </div>
		</div>
	{%endfor%}

</div><!--container pagebody-->

<script type="text/javascript">
//javascricpt内容
function add_staff(){
	name=$("#NewName").val();
	if (name!='')
		$("#add_form").submit();
	else
		alert("请输入姓名！");

}


</script>
</body>
</html>
